<!DOCTYPE HTML>
<html>
	<head> 
	    <title>Наша команда</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<center>
		<h3>Ласкаво просимо у нашу команду!</h3>
		</center>
	    <p>Дякуємо, що ви з нами. <br>Ми - бригада №39. Маємо 10 варіант. <br>Ось наші учасники:</p>
	    <a href="yarik">Главацький Ярослав</a><br>
	    <a href="vadim">Мілосердов Вадим</a><br>
	    <a href="nika">Рябчун Вероніка</a><br>
	    <a href="dasha">Яковенко Дар'я</a>
	</body>
</html>